header{
  display: flex;
  max-width: 1600px;
  min-width: 350px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #ccc;
  padding: 20px;
}

.nav-left{
  display: flex;
  gap: 40px;
}
.nav-left h1{
  font-size: 1.5em;
  cursor: pointer;
}

.nav-right{
  display: flex;
  gap: 10px;
  align-items: center;
}

.search-box{
  position:relative;
}
#all-search{
  max-width: 350px;
  padding: 5px 30px;
  border-radius: 15px;
  border: 1px solid #ccc;
}

.search-box i{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(50%,-50%);
  color: #ccc;
}
