.main-visual{
  max-width: 1600px;
  min-width: 350px;
  margin: auto;
  margin-top: 25px;
}

.main-visual figure{
  position: relative;
}
.main-visual figure p{
  width: 100%;
  height: 20vh;
  max-height: 300px;
  min-height: 250px;
  overflow: hidden;
  border-radius: 30px;
  position: relative;
}
.main-visual figure p::after{
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
}
.main-visual figure p img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 90%;
}

.main-visual figure figcaption{
  width: 95%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
  font-size: 1.5em;
  font-family: 'GmarketSansMedium';
}
.main-visual figure figcaption span{
  color: #fff;
  font-size: 1em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-family: inherit;
}
.main-visual figure figcaption span strong{
  color: rgb(123, 243, 233);
  font-size: 1.3em;
  font-family: inherit;
}